.skillBarImg{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem ;

}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 3rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(48, 50, 52);
}


#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto ;

}

.skillTitle{
    font-size: 3rem;
    font-weight: 100;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc{
    padding: 0 2rem;
}

@media screen and (max-width:720px){
    .skillBarText>p{
        font-size: 2vw;
    }
    .skillBarImg{
        height:2.25rem;
        width:2.25rem;
    }
}